h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: rgb(30, 30, 30);
}

body,
h1 {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: whitesmoke;
}


p {
    margin: 0;
    padding: 0;
    stroke-width: 2px;
    font-family: Arial, sans-serif;
    color: rgb(185, 185, 185);
}

body {
    margin: 0;
    padding: 0;
    background-image: url('https://images.pexels.com/photos/209831/pexels-photo-209831.jpeg');
    background-size: cover;
    background-attachment: fixed;
    line-height: 1.6;
    flex-direction: column;
    display: flex;
    border-radius: 24px;
    min-height: 100vh;
}

figure {
    margin: 0;
}

header {
    text-align: center;
    padding: 100px 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.plan-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}


.plan-message {
    flex: 1;
    padding: 20px;
    background-color: transparent;
    animation: slide-in-out 30s ease infinite;
}

@keyframes slide-in-out {

    0%,
    100% {
        transform: translateY(100%);
    }

    50% {
        transform: translateY(0);
    }
}


h1 {
    font-size: 42px;
}

nav ul {
    list-style: none;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 0;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
}

.card-container {
    min-height: 100%;
    width: auto;
    display: grid;
    padding: 12px;
    margin: 78px;
    justify-items: center;
}

.card {
    border-radius: 18px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    padding: 60px;
    overflow: hidden;
    transition: transform 0.5s ease;
    align-items: center, inline;
    text-align: center;
    margin: 30px;
    max-width: 450px;
}

.card:hover {
    transform: translateY(-12px);
}

.card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.bg-about {
    background-image: url('https://images.pexels.com/photos/2232917/pexels-photo-2232917.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
}

.bg-blog {
    background-image: url('https://images.pexels.com/photos/2909077/pexels-photo-2909077.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;

}

.bg-portfolio {
    background-image: url('https://images.pexels.com/photos/2908983/pexels-photo-2908983.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;

}

.bg-contact {
    background-image: url('https://images.pexels.com/photos/417045/pexels-photo-417045.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;

}

h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    color: wheat;
    padding: 10px;
    font-size: 14px;
    margin-top: auto;
}

.clock,
.copyright,
.weather {
    padding: 10px;
}

.copyright {
    flex-grow: 1;
}